.row > div , a{
    padding:10px;
    text-align: center; 
    color: #787878; 
    font-family: 'Cinzel';
    
    }


@media (min-width: 775px){
    h1{
        font-size: 75px; 
        
    }
    h2{
        font-size: 25px; 
    }
    .break{
        display: block; 
    }

}
@media (max-width: 774px){
    h1{
        font-size: 30px; 
    }
    h2{
        font-size:10px; 
    }
    .break{
        display: none; 
    }
}

h1{ 
    font-family: 'Girassol';
    font-weight: bold;
    text-align: center;
    color: #424242;
    text-shadow: 3px 3px 3px #aaa;
}
h2{
    font-family: 'Girassol';
    text-shadow: 1px 1px 1px #aaa;
    font-weight: bold;
    text-align: center;
    color: #424242;

}
h5{
    text-align: center;
    font-weight:bold; 
    font-family: 'Tangerine';
    color: #bfbfbf
}
body{
    background-color:#faf7f0
}

