{% extends "layout.html" %}

{% block title %} Athletics {% endblock %}

{% block body %}
<div class = "container">
    <div class = "row">
        <div class = "col-lg-6 col-sm-12" > 
            <h3> Athletics</h3> 
            <div class = "infotext">
            While historically the sole sport at Hogwarts has been Quidditch, 
            in recent years, the Athletic Department has expanded to include a variety 
            of Muggle Sports, such as football, rugby, and track. 
            Hogwarts students (2nd year and above) have the option to try out for their house 
            teams. At the conclusion of each school year, there is inter-school Quidditch tournament with 
            Beauxbatons Academy of Magic, Durmstrang Institute, Ilvermorny, Castlebruxo, Mahoutokoro School of Magic, 
            Uagadou School of Magic,  and Koldovstoretz. Hogwarts is renowned for the quality of its Quidditch Progam, 
            producing professional players in teams across the world. 
        </div> 
        </div>
        <div class = "col-lg-6 col-sm-12">
           <img src= "{{url_for('static', filename='images/pitch.jpg')}}" width = 85% class = "infopic"> 
        </div>
       

    </div>
    <div class = "row">
        <div class = "col-lg-6 col-sm-12">
            
        </div>
  
        </div>
        <div class = "col-lg-6 col-sm-12"> 
            <br> 
            <br>
            
        </div>

    </div>
</div>
<br> <br> <br> <br> <br>

{% endblock %}
        

