{% extends "layout.html" %} 

{% block title %} Library {% endblock %}


{% block body %}

<div class = "container"> 
    <div class = "row"> 
        <div class = "col-lg-7 col-sm-12">
            <div class = "infotext"> 
                Error! This page is not available to muggles. Please return to our
                <a href= "{{url_for('index')}}" class="infotext">home page</a>   &ensp;

            <br> 

            </div>  
        </div> 

    </div>
</div> 

<br> 
<br>
<br> 
<br> 


{% endblock %}